@import url('https://fonts.googleapis.com/css?family=Monoton|Lora|Montserrat:600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
}
ul li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
span,
a,
ul,
span,
li,
img {
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
}
span {
  line-height: 1.6;
  font-weight: 300;
  font-family: sans-serif;
  font-size: 13px;
}

h1 {
  font-size: 3.5em;
  letter-spacing: 5px;
}
h2 {
  font-size: 2.8em;
  line-height: 1.1;
}
h3 {
  font-size: 1.7em;
}
h4 {
  font-size: 1.2em;
  letter-spacing: 0.6px;
}
h5 {
  font-size: 1.1em;
}
h6 {
  font-size: 0.9em;
  letter-spacing: 1px;
}

a,
button {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  text-decoration: none;
  color: inherit;
  transition: all 0.3s;
  border: 0;
}
a {
  font-size: 15px;
}
img {
  width: 40px;
}
form {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
input {
  width: 78%;
  background: none;
  background-color: transparent;
  color: #f4f4fd;
  font-size: 18px;
  padding: 10px 10px 1px 5px;
  border: none;
  border-radius: 0;
  outline: none;
  border-bottom: 1px solid #f4f4fd;
}
input:focus ~ .form-input-label,
input:valid ~ .form-input-label {
  top: 1px;
  font-size: 10px;
}
button {
  height: 50px;
  width: 50px;
  cursor: pointer;
  outline: none;
  margin-left: 10px;
}
button img {
  width: 20px;
}
.bg-image {
  background: url('../assets/2479956.jpg');
  background-position: center;
  background-size: cover;
  -webkit-filter: blur(8px);
  filter: blur(8px);
  height: 100vh;
  width: 100vw;
}

.app {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  background-image: url('../assets/2479956.jpg');
  background-position: center;
  background-size: cover;
  margin: auto;
  /* width: 1000px; */
  height: 500px;
  display: flex;
  justify-content: space-between;
  -webkit-box-shadow: inset 0px 0px 9px 10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px 0px 9px 10px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 0px 9px 10px rgba(0, 0, 0, 0.25);
}
.brand {
  display: flex;
  justify-content: space-between;
}
.current {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  color: #f4f4fd;
  padding: 40px;
  width: calc(100% - 350px);
}
.clock {
  text-align: center;
}
.forcast {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.more-info {
  margin: 0 20px;
  margin-right: 20px;
}
.summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-input-label {
  color: #f4f4fd;
  font-size: 12px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 22px;
  top: 25px;
  transition: 300ms ease all;
}
.info {
  width: 350px;
  background: #3f3e3eed;
  overflow-y: hidden;
}
.form {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.fav,
.details {
  margin: 10px 20px 10px 20px;
  color: #f4f4fd;
}
.fav li {
  cursor: pointer;
}
.details {
  padding: 10px 0px 20px 0px;
  border-top: 1px solid #f4f4fd;
  border-bottom: 1px solid #f4f4fd;
}
.details h6,
.daily-forcast h6 {
  margin-bottom: 10px;
}
.details li,
.daily-forcast li {
  display: flex;
  justify-content: space-between;
}
.daily-forcast {
  margin: 0 20px;
  color: #f4f4fd;
}
.daily-forcast ul {
  padding-right: 10px;
  height: 165px;
  overflow: auto;
}
.daily-forcast ul li {
  cursor: pointer;
  padding: 8px;
  margin: 2px 0;
  border: 1px solid #f4f4fd;
  background: #f4f4fd;
  color: #1b1b1b;
}
.daily-forcast ul li span {
  font-weight: 400;
}

@media screen and (max-width: 950px) {
  .app {
    width: 90vw;
    height: 90vh;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .current {
    height: 50%;
    width: 100%;
  }
  .info {
    width: 100%;
  }
  input {
    width: 90%;
  }

  .flex-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 20px;
  }
  .fav {
    padding-top: 10px;
  }
  .details {
    width: 50%;
    border: none;
  }
  .daily-forcast ul {
    height: 210px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 400px) {
  h1 {
    font-size: 3em;
    letter-spacing: 5px;
  }
  h2 {
    font-size: 2.3em;
    line-height: 1.1;
  }
  h3 {
    font-size: 1.2em;
  }
  h4 {
    font-size: 0.7em;
    letter-spacing: 0.6px;
  }
  h5 {
    font-size: 0.9em;
  }
  h6 {
    font-size: 0.8em;
    letter-spacing: 1px;
  }
  .app {
    width: 100%;
    height: 100vh;
  }
  .current {
    height: 30vh;
    padding-bottom: 10px;
  }
  .info {
    height: 70vh;
  }
  input {
    width: 78%;
  }
  .form-input-label {
    left: 29px;
  }
  .flex-item {
    flex-direction: column;
    padding: 0px;
  }
  .details {
    width: 90%;
    justify-content: flex-start;
    align-items: flex-start;
    border-top: 1px solid #f4f4fd;
    border-bottom: 1px solid #f4f4fd;
  }
  .daily-forcast ul {
    height: 165px;
    margin-bottom: 60px;
  }
}
